@use '../../sassStyles/_variables' as var;
@use '../../sassStyles/_mixins' as *;

.ButtonsAnswers{

    display: block;
    width: 100%;
    @include button-design-question(var.$bluePrimary);
    transition: all var.$exitTransitionTime;

    &:hover{
        transition: all var.$entryTransitionTime;
        background-color: var.$blue;  
        box-shadow: var.$shadow;
    }
}

.ButtonsAnswers.--active{

    background-color: var.$green;
    
    .ButtonAnswer__icon{
        transition: all var.$entryTransitionTime;
        opacity: 1;
        transform: scale(1);

    }
}

.ButtonAnswer__Question{

    pointer-events: none;
    p{
        text-align: left;
        font-size: 16px;
        color: var.$white;
    }

}

.ButtonAnswer__icon{
    transition: all var.$exitTransitionTime;
    pointer-events: none;
    transform: scale(.5);
    opacity: 0;
}