@use '../../sassStyles/_variables' as var;
@use '../../sassStyles/_global' as glo;

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    min-width: 320px;
    .Home__form{
        position: relative;
    }

}

.form__input{
    padding: 10px;
    border-radius: 50px;
    border: 1px solid var.$blue;
    width: 300px;
    font-size: 24px;
    font-family: var.$fontFamily;
    font-weight: bold;
    color: var.$blue;
    background-color: var.$white;
    
    &:focus{
        box-shadow: var.$shadow;
        outline: 2px solid var.$blue;
    }
}

.form__submit{
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 2;
    font-size: 24px;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 0 50px 50px 0;
    background-color: var.$blueSecundary;
    border: none;
    @extend .checkimage-icon;
}

