@use '../../sassStyles/_variables' as var;
@use '../../sassStyles/_global';
@use '../../sassStyles/_mixins' as *;

.Card{
    @extend .card-design;
    margin: 20px 0;
    
    .Card__img{
        z-index: 2;
        width: 140px;
    }

    .Card__ornament{
        position: absolute;
        top: 5%;
        left: 10%;
    }

    button{
        
        @include button-design(var.$blueSecundary);

        svg{
            margin-left: 10px;
        }
    }

}



