@use '../../sassStyles/_variables' as var;

.Header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding:20px 14px;
    width: 100%;
    min-width: 320px;
    height: 15vh;
    box-shadow: var.$shadowHeader;
    background: var.$blueGradient ;
    
    .Header__button{
        display: flex;
        position: relative;
        place-items: center;
        width: 50px;
        height: 50px;
        border: none;
        color: var.$white;
        width: 1;
        background-color: transparent;
        transition: all var.$exitTransitionTime;
        cursor: pointer;

        &:after{
            // transition: all var.$exitTransitionTime;
            opacity: 0;
        }

        &:hover{
        transition: all var.$entryTransitionTime;

            transform: scale(1.2);

            &:after{
                transition: all var.$entryTransitionTime;
                position: absolute;
                top: -5px;
                left: -5px;
                content: '';
                width: 120%;
                height: 120%;
                border-radius: 50px;
                background-color: var.$bluePrimary;
                box-shadow: var.$shadow;
                z-index: -1;
                opacity: 1;
            }

        }

        
    }
}