@use '../../sassStyles/_global';


.Test{
    @extend .page-global;
    
    .questions__container{
        width: 100%;
    }
}

.Test__buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}