@use './_variables' as var;

@mixin button-design($color ) {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    font-family:var.$fontFamily;
    font-weight: bold;
    color: var.$white;
    background-color: $color;

}

@mixin button-design-question($color) {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom:20px;
   padding: 10px;
   border-radius: 10px;
   border: none;
   background-color: $color;
   cursor: pointer;
   
}

@mixin button-design-component-test($color){
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 65px;
    width: 150px;
    padding: 20px;
    border: none;
    font-family: var.$fontFamily;
    font-weight: bold;
    font-size: 16px;
    background-color: $color;
    color: var.$white;
    cursor: pointer;
}

@mixin button-design-component-test-disabled($color) {
    background-color: $color;
    cursor:not-allowed;
}

@mixin for-tablet {
    @media (min-width: 768px){
        @content;
    }
}