@use './_variables' as var;

@mixin button-design($color ) {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    font-family:var.$fontFamily;
    font-weight: bold;
    color: var.$white;
    background-color: $color;

}

@mixin button-design-question($color) {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom:20px;
   padding: 10px;
   border-radius: 10px;
   border: none;
   background-color: $color;
   box-shadow: var.$shadow;
   
}