@use './_variables' as var;


h1{
    margin: 30px 0;
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    text-align: center;
    font-family: var.$fontFamily;
    color: var.$blue;

}

h2{
    margin: 30px 0;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-family: var.$fontFamily;
    color: var.$blue;
    
}

p{
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-family: var.$fontFamily;
    color: var.$blue;

}