@use '../../sassStyles/_variables' as var;
@use '../../sassStyles/_mixins' as *;
@use '../../sassStyles/_global';

.AlertPage{
    @extend .page-global;

    img{
        width: 400px;
        margin: 20px 0;
    }

    button{
        @include button-design(var.$orange);
        width: 40%;
        margin: 20px 0;
        transition: all var.$exitTransitionTime;

        &:hover{
            transition: all var.$entryTransitionTime;
            background-color: var.$blue;
            box-shadow: var.$shadow;
        }
    }
}